<div ng-if="level">
    <div ng-include src="'./core/view/header.html'"></div>
    
        <!-- HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
        <div class="container">
        <br/><br/>
            <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="itemBarang in barang">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>{{itemBarang.c_NamaBarang}}</h3>
                      <p>{{itemBarang.c_Keterangan}}</p>
                      <p>Stok Tersisa {{itemBarang.c_StokKg}}</p>
                      <p>Rp {{itemBarang.c_HargaKg}}</p>
                      <p><a href="#" class="btn btn-primary" role="button" ng-click="pesan(itemBarang.c_IdBarang,itemBarang.c_NamaBarang,itemBarang.c_Keterangan,itemBarang.c_HargaKg,itemBarang.c_HargaRoll)" title="Beli Barang">Beli</a></p>
                    </div>
                  </div>
                </div>
          </div>

</div>
    <div ng-include src="'./core/view/404.html'" ng-if="!level"></div>