<div class="color-overlay">
		<div class="navigation-header">
		<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="images/Logo.png" alt=""></a>
				</div>
				
				<!-- MENU LINKS -->
				<div class="navbar-collapse collapse" id="landx-navigation">
					<ul class="nav navbar-nav navbar-right main-navigation">
						<li><a href="./index.html#!/beranda">Beranda</a></li>
						<li><a href="./index.html#!/info">Info Produk</a></li>
						<li><a href="./index.html#!/kontak">Kontak</a></li>
						<a href="#" class="btn btn-danger btn-lg">Katalog</a>
						<a href="./index.html#!/login" class="btn btn-primary btn-lg">Login</a>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
<div class="container">
<br/>
	<h2>Product <font color="red"><strong>Information</strong></font></h2>
	<div class="colored-line">
	</div>
	
	<div class="sub-heading">
		<h4><em>Combed & Carded</em></h4>
		Kain Combed & Carded keduanya memiliki komposisi 100% katun, yang menjadi perbandingan dari kedua bahan ini adalah harga dan kualitas kain nya. Dari segi kualitas, bahan Combed memiliki kualitas lebih baik dari Carded, kedua bahan ini sama-sama mampu menyerap keringat dengan baik, namun Combed memiliki tingkat kelembutan yang lebih tinggi dan memiliki bulu & biji yang lebih sedikit dibandingkan dengan Carded. Dari segi harga Combed lebih mahal dibanding Carded. Namun jika Anda mencari bahan kain dengan harga yang lebih murah, Carded juga bisa menjadi pilihan.
	</div>
	<br/>
		<div class="sub-heading">
		<h4><em>Twotone/ Threetone</em></h4>
		Kain Combed & Carded keduanya memiliki komposisi 100% katun, yang menjadi perbandingan dari kedua bahan ini adalah harga dan kualitas kain nya. Dari segi kualitas, bahan Combed memiliki kualitas lebih baik dari Carded, kedua bahan ini sama-sama mampu menyerap keringat dengan baik, namun Combed memiliki tingkat kelembutan yang lebih tinggi dan memiliki bulu & biji yang lebih sedikit dibandingkan dengan Carded. Dari segi harga Combed lebih mahal dibanding Carded. Namun jika Anda mencari bahan kain dengan harga yang lebih murah, Carded juga bisa menjadi pilihan.
	</div>
	<br/>
	<div class="sub-heading">
		<h4><em>Body Size</em></h4>
		Kain Lacoste atau Pique adalah salah satu jenis kain dengan rajutan bercorak, berbeda dengan kain kaos jersey, kain Pique atau Lacoste mempunyai rajutan lebih lebar dan tebal yang menyerupai pori-pori, umumnya kain Pique/Lacoste memakai bahan cotton atau polyester atau campuran. Kain ini biasa digunakan untuk membuat kaos kerah/ wangki/ polo shirt. Kami juga menyediakan Kerah & Manset khusus untuk melengkapi kain Lacoste/ Pique.
	</div>
	<br/>
		<div class="sub-heading">
		<h4><em>Pique/ Lacoste</em></h4>
		Body Size adalah salah satu produk kain bahan kaos yang memiliki lebar atau diameter seukuran badan. Bahan ini sangat populer di luar negeri dan biasanya digunakan oleh merk-merk terkenal. Keunggulan kain ini adalah bentuknya yang pas dan sesuai dengan ukuran badan kita dan tidak memiliki jahitan pinggir kaos, sehingga dapat meningkatkan efisiensi dalam proses produksi kaos.


	</div>
	<br/>
				
</div> 
</section>
