<div class="color-overlay">
	<div class="navigation-header">
		<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="images/logo-dark.png" alt=""></a>
				</div>
				
				<!-- MENU LINKS -->
				<div class="navbar-collapse collapse" id="landx-navigation">
					<ul class="nav navbar-nav navbar-right main-navigation">
						<li><a href="./">Beranda</a></li>
						<li><a href="./index.html#!/login">Login</a></li>
						<li><a href="./index.html#!/kontak">Kontak</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
<div class="container">
	<h2>Product <font color="red"><strong>Information</strong></font></h2>
	<div class="colored-line">
	</div>

  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
				
</div> 
</section>

<script>
	function Ctrlemail($scope){
		$scope.email ={ 
		text: 'me@example.com'
	};
	}
</script>